 {% extends "layout.html" %}
 {% block body %}
 <!-- Begin page content -->

      <div class="page-header">
        <h4>Share your ISP QOS experience on a scale of 1-5? Login and let us know</h4>
      </div>
      <!-- Three columns of text below the carousel Utande ZOL Africom Zarnet YoAfrica Telco Frampol or Telone-->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Speed</h4>
          <p>Are you getting the speed they promised you ?</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>


           <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Support</h4>
          <p>When you need help,are you satisfied with the help you are getting</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Reliability</h4>
          <p>Is your service available all the time whenever you use it.</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Price</h4>
          <p>Are you getting the value for your money visa-vi the service experience?.</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Products Range</h4>
          <p>blah blah blah</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

           <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="50">
          <h4>Billing </h4>
          <p>Do you get consistent bills , are getting billed accurately.</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


{% endblock %}