 {% extends "layout.html" %}
 {% block body %}
 <!-- Begin page content -->

      <div class="page-header">
        <h4>Whats your ISP reputation on a scale of 1-5,share your reviews using these KPIs </h4>

      </div>
      <!-- Three columns of text below the carousel Utande ZOL Africom Zarnet YoAfrica Telco Frampol or Telone-->
      <div class="row">
        <div class="col-lg-4">
          <h4>Pricing</h4>
          <p> On average ,how does your ISP fair ?</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

          <h4>Customer/Technical Support</h4>
          <p>How responsive and accessible is technical support and customer services</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>


        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
        <h4>Reliability </h4>
          <p>Is your service always available when you want to use it ?</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

           <h4>Features / Add-Ons</h4>
          <p>Are there any extras or incentives ontop of your subscribed package </p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

        </div>

        <div class="col-lg-4">
          <h4>Self Service Portals</h4>
          <p>Do they offer chat , payment portals etc for your convinience</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>

          <h4>Billing </h4>
          <p>Do you get consistent bills , are you getting billed accurately.</p>
          <p><a class="btn btn-default" href="#" role="button">Rate your ISP&raquo;</a></p>


        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
{% endblock %}