{% extends "layout.html" %}
{% block body %}

        <h4>Are you a ZOL ,Frampol ,Liquid , Utande, Africom,Telco ,Zarnet or Telone customer ? </h4>
        <h6>Share your personal experiences and review your ISP against the KPIs below on a scale of (1-4),and
            we will calculate the Reputation (R) of your ISP
        </h6>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Pricing</h5></li>
                <li class="list-group-item">On average , is their product pricing fair ?
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Reliability</h5></li>
                <li class="list-group-item">Is your service always available when you need it ?
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Features / Add-Ons</h5></li>
                <li class="list-group-item">Are there any extras on top of your subscribed package
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Self Service Portals</h5></li>
                <li class="list-group-item">Do they offer chat , payment portals etc at your convinience
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Billing</h5></li>
                <li class="list-group-item">Do you get consistent bills , are you getting billed accurately.
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item disabled"><h5>Customer/Technical Support</h5></li>
                <li class="list-group-item">How responsive and accessible is technical support and customer
                    services
                </li>
            </ul>
        </div>



{% endblock %}