<!DOCTYPE html>
<html>
<head>
    {#<script type="text/javascript">
        var host = "startbootstrap.com";
        if ((host == window.location.host) && (window.location.protocol != "https:"))
            window.location.protocol = "https";
    </script>#}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BL Analytics.">
    <meta name="author" content="BL Analytics">
    <title>BL Analytics</title>
    {#<meta name="google-site-verification" content="hq9-_keIZdTZt7arZ91T-gSqn8ANii362mlcn0zCgno">#}
    {#<link rel="author" href="https://plus.google.com/+Startbootstrap">
    <link rel="publisher" href="https://plus.google.com/+Startbootstrap">
    <link rel="canonical" href="https://startbootstrap.com/template-overviews/creative/">#}

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Libre+Franklin:400,100,100italic,200,200italic,300,300italic,400italic,500,600,500italic,600italic,700,700italic,800,900,800italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css"
          type="text/css">
    <link rel="stylesheet" media="screen"
          href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/main.css') }}">


    {# <link rel="alternate" type="application/rss+xml" title="" href="https://startbootstrap.com /feed.xml ">#}

    <link rel="apple-touch-icon-precomposed" sizes="57x57"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="60x60"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
          href="{{ url_for('static', filename='img/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="img/favicons/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="img/favicons/favicon-128.png" sizes="128x128"/>
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="/img/favicons/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="/img/favicons/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="/img/favicons/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="/img/favicons/mstile-310x310.png"/>

    <meta property="og:title" content="BL Analytics">
    <meta property="og:site_name" content="BL Analytics">
    <meta property="og:type" content="website">
    <meta property="og:description"
          content="BL Analytics">
    <meta property="og:image" content="/assets/img/og/startbootstrap-logo.jpg">
    <meta property="og:url" content="https://startbootstrap.com/template-overviews/creative/">


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" media="screen"
          href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-menu"></i> Menu
            </button>
            <a class="navbar-brand"><img src="{{ url_for('static', filename = 'img/blanalytics.png') }}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('mystory') }}">My Story</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Bootstrap Related Resources">
                        My Insipiration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('myinspiration') }}"><i class="icon-list"></i> My Inspiration</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-support"></i> Help &amp; FAQ</a>
                        </li>
                    </ul>
                </li>
                <li>

                <li><a href="#"> {{ user_count_registered }} <i class="fa fa-user" aria-hidden="true"></i>
                    Users</a></li>
                <li><a href="#"> {{ user_count_active }} <i class="fa fa-user" aria-hidden="true"></i> Online</a></li>

                {% if not current_user.is_authenticated %}
                    <li><a id="loginLink" href="{{ url_for('login') }}" role="button"><i
                            class="fa fa-lock login"></i><span>Login</span></a></li>
                    <li><a href="{{ url_for('register') }}" role="button"><i class="fa fa-pencil register"></i><span>Register</span></a>
                    </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('myprofile') }}">myProfile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       title=""><i class="icon-star"></i> My Other Projects <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="icon-pencil fa-fw"></i>Credit Bureau</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-handbag fa-fw"></i>
                                The hood </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#searchModal"><i class="icon-magnifier"></i> <span
                            class="hidden-lg hidden-md hidden-sm">Search Themes</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="page-heading">
    <div class="container">
        <div class="left_pane">
            {% if not current_user.is_authenticated %}
                <ul class="list-group">
                    <li class="list-group-item disabled"><h5>This website aims to</h5></li>
                    <li class="list-group-item"><em>Build</em> a user driven ISP reputation database based on personal
                        user experience reviews on the following KPIs <em>[Pricing,Reliability,
                            Self Service Portals, Billing and
                            Customer/Technical Support]</em>
                    </li>
                    <li class="list-group-item"><em>Create</em> visibility and insight into the <em>QOS</em> offered by
                        Zimbabwean ISP's so as to assist prospective/transient ISP customers when making a choice on
                        which ISP to
                        subscribe to.
                    </li>
                    <li class="list-group-item">
                        <a href="#"><h5>ISP service predictor calculator </h5></a>
                    </li>
                </ul>
            {% endif %}
            {% if current_user.is_authenticated %}
                <nav class="col-sm-3">
                    {#<div class="container">#}
                    <div class="row">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span
                                                class="glyphicon glyphicon-folder-close">
                            </span>ISP Reviews</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <table class="table">

                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_my_isp_service_subscriptions') }}">View
                                                    my
                                                    Currently Subscribed ISP(s) and Service(s)</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('add_your_subscribed_isp_services') }}">Add
                                                    ISP(s)
                                                    and Service(s) that you are using or have used ?</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-primary"></span><a
                                                        href="{{ url_for('rate_isp') }}">Rate ISP that you have used
                                                    or
                                                    currently using</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_my_isp_ratings') }}">My ISP
                                                    Ratings</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_overall_isp_ratings') }}">Overall ISP
                                                    Ratings</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_overall_isp_ratings') }}">Summary
                                                    Reports
                                                    For
                                                    ISPs</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_overall_isp_ratings') }}">Summary
                                                    Reports
                                                    For
                                                    The Community</a>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span
                                                class="glyphicon glyphicon-th">
                            </span>Services Reviews</a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-pencil text-primary"></span><a
                                                        href="{{ url_for('rate_service') }}">Rate ISP Service</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_my_service_ratings') }}">My Service
                                                    Ratings</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('view_overall_service_ratings') }}">Overall
                                                    Service
                                                    Ratings</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-file text-info"></span><a
                                                        href="{{ url_for('survey') }}">Rate services</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-comment text-success"></span><a
                                                        href="{{ url_for('check') }}">Multiple Checkboxes</a>
                                                    <span class="badge">42</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseThree"><span
                                                class="glyphicon glyphicon-user">
                            </span>Account</a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <a href="#">Change Password</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">Notifications</a> <span
                                                        class="label label-info">5</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="#">Import/Export</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-trash text-danger"></span><a
                                                        href="#"
                                                        class="text-danger">
                                                    Delete Account</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseFour"><span
                                                class="glyphicon glyphicon-file">
                            </span>AdHoc Reports</a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-usd"></span><a
                                                        href="#">Sales</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-user"></span><a
                                                        href="#">Customers</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-tasks"></span><a
                                                        href="#">Products</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-shopping-cart"></span><a
                                                        href="#">Shopping
                                                    Cart</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endif %}
        </div>
        <div class="right_pane">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="alert alert-{{ category }}">
                                <a class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block body %} {% endblock %}
        </div>
    </div>
    {#closing the container div#}
</header>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <h5>Various ISP reputation scores on the <strong>{{ kpi_name }}</strong> KPI </h5>
                </li>
                <li class="list-group-item">


                    {#

   <ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <strong>{{count_of_users_who_rated }}</strong>
         subscriber(s) have shared their QOS experiences for this ISP using the scale below and the average QOS score for this service is
        <strong>{{average_isp__service_ratings}}</strong>
    </li>
   </ul>
#}

                    <table class="table table-condensed table-bordered  table-hover">
                        <thead class="thead-custom">
                        <tr>
                            <th>ISP name</th>
                            <th>KPI</th>
                            <th># of users who rated</th>
                            <th>Sum of Ratings for all user(s)</th>
                            <th>Health Index</th>
                            <th>Reputation Scores</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for i in all_isp_ratings %}
                                <td>{{ i.isp_name }}</td>
                                <td><strong>{{ i.kpi_name }}</strong></td>
                                <td>{{ i.count_of_users }}</td>
                                <td>{{ i.sum_of_ratings }}</td>
                                <td><strong>{{ i.avg_of_ratings|round|int }}</strong></td>
                                {% for m in ratings_table_values %}
                                    {% if (m.ratings_value) ==(i.avg_of_ratings|round|int) %}
                                        <td><strong>{{ m.ratings_comment }}</strong></td>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7"><em>No entries here so far</em></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {{ Overall_isp_ratings_graph_data|safe }}

                </li>
            </ul>


        </div>
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item disabled">
                    <h5>This website will help you answer questions like </h5>
                </li>
                <li class="list-group-item">z</li>
                <li class="list-group-item">w</li>

            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="footer-social">
        <div class="container text-center">
            <ul class="list-inline">
                <li class="social-github">
                    <a href="#"><i class="fa fa-github"></i></a>
                </li>
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <a href="/">BL Analytics</a> is a Data analytics project created and maintained by <a href="#">Martin
            Chamambo</a> at
            <a href="#">AfroInnovations</a>
        </div>
    </div>
</footer>

<div class="modal-search modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <form action="get" id="site_search">
                        <div class="input-group">
                            <input class="form-control" type="text" id="search_box"
                                   placeholder="Search themes and templates..." autocomplete="off">
<span class="input-group-btn">
<button class="btn" type="submit"><i class="icon-magnifier"></i></button>
</span>
                        </div>
                    </form>
                    <ul style="display: block; margin-top: 15px;" id="search_results"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.7.1/lunr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
</body>
</html>