{% extends "layout.html" %}
{% block body %}

    {# <form action="{{ url_for('login') }}" class="form-signin" method="post">
        <h4 class="form-signin-heading">Log in to compare Service Ratings for all ISPs</h4>
        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>#}

    <ul class="list-group">
        <li class="list-group-item disabled"><h5>Welcome {{ current_user.email }}</h5></li>

        <li class="list-group-item">

            <form action="" method=post class="form-signin" name="login">

                {{ form.hidden_tag() }}
                <h4 class="form-signin-heading">Login</h4>

                <label for="inputEmail" class="sr-only">Email Address</label>
                {% for message in form.email.errors %}
                    <div class="test">{{ message }}</div>
                {% endfor %}
                <input type="email" id="inputEmail" name="email" class="form-control" value="{{ request.form.email }}">


                <label for="inputPassword" class="sr-only">Password</label>
                {% for message in form.password.errors %}
                    <div class="test">{{ message }}</div>
                {% endfor %}
                <input type="password" id="inputPassword" name="password" class="form-control"
                       value="{{ request.form.password }}">

                <button class="btn btn-lg btn-primary btn-block">{{ form.submit }}</button>
            </form>


            <div class="facebook_login">

                {% if not session.logged_in %}
                    <a href="#">Facebook Login</a>
                {% else %}
                    <a href="#">Logout</a>
                {% endif %}

            </div>


        </li>


    </ul>

    {#<form action="" method="POST" name="login">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <th>Email:</th>
            <td>{{ form.email(size=32) }}</td>
        </tr>
        {% for error in form.email.errors %}
        <tr>
            <td><span style="color: red;">[{{ error }}]</span></td>
        </tr>
        {% endfor %}
        <tr>
            <th>Password:</th>
            <td>{{ form.password(size=32) }}</td>
        </tr>
        {% for error in form.password.errors %}
        <tr>
            <td><span style="color: red;">[{{ error }}]</span></td>
        </tr>
        {% endfor %}
    </table>
    <p><input type="submit" value="Login"></p>
</form>#}


{% endblock %}