{% extends "layout.html" %}
{% block body %}
    I have realised the basis for understanding anything is through analysis ,making assumptions and creating a hypothesis
    until you prove it right or wrong.I have been previledged enough to have a wife who has a BSc in Statistics and she has
    been very very influential in making this anlytics app a success .
    <p></p>

    I took the time to learn python at my own pace after hours.Its been a great learning expirience and will continue the Journey
    Until i finally decide to jump into Java ,Android or Go.

    I am a Linux Admin to the core trying to evolve into a DevOps engineer. Its been a year and 1/2 working with python
    and its been very rewarding, This project started as a hobby , something to help me learn every important concept about
    python and programming in general.From datastructures to algorithms to OOP to data science concepts ,this site has made
    my knowledge about those topics invaluable ..

    <p>As a python programmer ,i am no where near 50% but i am betting with time ,it will be my second language.
    This site will be launched around 2017 December after i am done with my R.H.C.E studies. My hope is ,it will build a folowing
    and be used sorely for the purpose its intended for , inform the internet user community in Zimbabwe</p>

    <p></p>

    Not forgetting thanking my then 6 months old boy Mikhail , he hardly slept and whenever he woke up ,
    i would take the time to add something to my site.

{% endblock %}