{% extends "layout.html" %}
{% block body %}
    <div class="well" xmlns="http://www.w3.org/1999/html">
        <h5>My Insipiration</h5>
        <p>
            I am a Linux Engineer and a Python fanatic who recently developed some love with Statistics and Data science.
            Having worked for 4 ISPs in Zimbabwe ,one of the job roles required me to do some data analysis using splunk , mostly logs and subscriber data
            and this experience led to the inception of this website focusing more on these 3 elements of Data analytics (Trending, Predictive, Comparative.)
        </p>
        </br>
        <p>
            By combining aspects of Statistics, Computer Science and Mathematics, this site aims to allow existing ISP subscribers to benchmark the QOS offered by ZIM ISPs
            which will empower prospective subscribers to choose ISP service based on these supplied QOS ratings
        </p>
        <h5>Technologies Used</h5>
        <p>Python, Flask ,Flask-SQLAlchemy for the backend ,PyGAL for graphing ,vue.js and Jquery for the front end
            and Splunk for visualisation
        </p>
    </div>
{% endblock %}