{% extends "layout.html" %}
{% block body %}
    <div class="well" xmlns="http://www.w3.org/1999/html">
        <h5>My Insipiration</h5>

        <p>
            I am a Linux Engineer and a Python enthusiast at heart married to a woman with mathematical mind who is
            currently studying a BSc in statistics.
        </p>
        </br>
        <p>
            I drew inspiration from working on Splunk and Python projects at work , which prompted me to enrol in free
            online courses in Data science and Statitics.This led to the inception of this website focusing on Data analytics
            (Trending, Predictive, Comparative.)
        </p>
        </br>
        <p>By combining aspects of statistics, computer science, applied mathematics, and visualization,
            this site will transform the ISP industry in Zimbabwe ,benchmarking a new era where customers are  able find
            use the services from the ISP of their choice giving them the power to force ISPs to improve their service
            offerings
        </p>
        <h5>Technologies Used</h5>
        <p>Python, Flask ,Flask-SQLAlchemy for the backend ,PyGAL for graphing ,vue.js and Jquery for the front end
            and Splunk for massive Visualisation
        </p>
    </div>
{% endblock %}