{% extends "layout.html" %}
{% block body %}
    <div class="well">
        <h5>My Story</h5>

        <p>
            Over time we have seen a proliferation of ISPs in Zimbabwe offering a wide range of services.While
            the Zimbabwean user community is spoilt for choice ,the QOS offered by these various ISPs differ
            and you that information is only accessible after you have subscribed and commited to that ISP.
        </p>

        <p>
            BL Analytics aims to bridge that gap through the Zimbabwean user community by creating
            a central ISP reputation database ,a result of each individual sharing their personal experiences
            using
            our defined baseline KPIs.
        </p>

        <p>Together We will create a community driven Reputation database which will enable us to benchmark
            ISP health Index based on the defined baseline KPIs and guide prospective subscribers in
            making informed decisions before they commit to any ISP.
        </p>

        <p>
            In summary we aim to create a unit of purpose for Zimbabwean ISPs, establish and maintain
            best of breed practices, and ultimately try to improve their service offerings in the process aiding
            the subscribers to use facts when deciding which service to buy and not be blinded by marketing
        </p>
    </div>
{% endblock %}