{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('view_overall_isp_ratings') }}" class="form-custom" method="post">
        <div class="container-fluid"><!-- Row 1 -->
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="kpi_name">Please Select KPI</label>
                    <select id="kpi_name" name="kpi_name" class="form-control">
                        {% for kpi in kpi_entries %}
                            <option value="{{ kpi.kpi_name }}">{{ kpi.kpi_name }}</option>
                        {% else %}
                            <li><em>No entries here so far</em></li>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="container-fluid"><!-- Row 2-->

            <div class="col-lg-3">
                <div class="form-group">
                    <label for="Submit">Submit Data</label>
                    <button class="btn btn-lg btn-primary" type="submit">Compare ISP QOS Ratings</button>
                </div>
            </div>
        </div>
        <!-- End of row 2-->

    </form>
{% endblock %}