{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('rate_isp') }}" class = "form-custom" method="post">
                <div class="container-fluid"><!-- Row 1 -->
                    <div class="col-lg-6">
                          <div class="form-group">
                            <label for="kpi_name">Please Select KPI</label>
                            <select id="kpi_id" name="kpi_id" class="form-control">
                             {% for kpi in kpi_entries %}
                              <option value="{{ kpi.kpi_id }}">{{ kpi.kpi_name }}</option>
                              {% else %}
                            <li><em>No entries here so far</em></li>
                            {% endfor %}
                            </select>
                           </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="isp_name">ISP Name</label>
                            <select id="isp_id" name="isp_id" class="form-control">
                             {% for isp in isp_entries %}
                              <option value="{{ isp.isp_id }}">{{ isp.isp_name }}</option>
                              {% else %}
                            <li><em>No entries here so far</em></li>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>  <!-- End of row 1-->

                <div class="container-fluid"><!-- Row 2 -->

                      <div class="col-lg-6">
                        <div class="form-group">
                              <label for="selectbasic">RateService</label>
                              <select id="ratings_value" name="ratings_value" class="form-control">
                              {% for rating in ratings_entries %}
                              <option value="{{ rating.ratings_value }}">{{rating.ratings_comment}}</option>
                              {% else %}
                               <li><em>No entries here so far</em></li>
                              {% endfor %}
                              </select>
                        </div>
                    </div>
                </div>

                <div class="container-fluid"><!-- Row 3 -->
                    <div class="col-lg-12">
                         <div class="form-group">
                            <label for="textarea">Share your Experiences</label>
                            <textarea class="form-control" name="kpi_rating_comment"></textarea>
                         </div>
                    </div>
                </div>

                <div class="container-fluid"><!-- Row 4 -->
                <div class="col-lg-6">
                         <div class="form-group">
                          <label for="submit"></label>
                          <button class="btn btn-lg btn-primary" type="submit">Share Your QOS Ratings</button>
                         </div>
                </div>
                </div> {#end of row 4 #}

    </form>

{% endblock %}
