{% extends "layout.html" %}
{% block body %}

{#

   <ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <strong>{{count_of_users_who_rated }}</strong>
         subscriber(s) have shared their QOS experiences for this ISP using the scale below and the average QOS score for this service is
        <strong>{{average_isp__service_ratings}}</strong>
    </li>
   </ul>
#}

   <table class="table table-condensed  table-hover">
   <thead class="thead-custom">
      <tr>
         <th>ISP name</th>
         <th>KPI(metric)</th>
         <th>Service Name</th>
         <th># of users who Rated</th>
         <th>Sum of Ratings for all user(s)</th>
         <th>Average QOS Score</th>
         <th>Rating Verdict</th>
       </tr>
   </thead>

   <tbody>
      <tr>
      {% for i in isp_ratings_per_service %}
      <td>{{ i.isp_name }}</td>
      <td>{{ i.metric_name }}</td>
      <td>{{ i.service_name }}</td>
      <td>{{ i.count_of_users }}</td>
      <td>{{ i.sum_of_ratings }}</td>
      <td>{{ i.avg_of_ratings|round|int }}</td>
             {% for m in ratings_table_values %}
                {% if (m.ratings_value) ==(i.avg_of_ratings|round|int)%}
                     <td>{{ m.ratings_comment}}</td>
                {% endif %}
             {% endfor %}
      </tr>
      {% else %}
      <tr><td colspan="7"><em>No entries here so far</em></td></tr>
      {% endfor %}
   </tbody>

   </table>

  {% endblock %}