{% extends "layout.html" %}
{% block body %}

<table class="table table-condensed  table-hover">
   <thead class="thead-custom">
      <tr>
         <th>ISP</th>
         <th>Service Name</th>
         <th>KPI(metric)</th>
         <th>Rating</th>
         <th>Rating Comment</th>
         <th>Custom Rating Comment</th>
         <th>Pub Date</th>


      </tr>
   </thead>

   <tbody>
   {% for i in my_service_ratings %}
      <tr>
      <td>{{ i.isp_name }}</td>
      <td>{{ i.service_name}}</td>
      <td>{{ i.metric_name }}</td>
      <td>{{ i.ratings_value}}</td>
      <td>{{ i.ratings_comment}}</td>
      <td>{{ i.custom_rating_comment}}</td>
      <td>{{ i.pub_date}}</td>

      {% else %}
      <td colspan="7"><em>No entries here so far</em></td>
      {# <a href="{{ url_for('rate_isp_service') }}" class="btn btn-large btn-primary">Place New Service Ratings</a>#}
      </tr>

   {% endfor %}



   </tbody>

</table>
{% endblock %}