{% extends "layout.html" %}
{% block body %}
 <ul class="list-group">
    <li class="list-group-item disabled" ><h5>Welcome {{current_user.email}}</h5></li>
    <li class="list-group-item">Which ISP and service are you currently using</li>
 </ul>
<form action="{{ url_for('rate_service') }}" class = "form-custom" method="post">
                <div class="container-fluid"><!-- Row 1 -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="isp_name">ISP Name</label>
                            <select id="isp_id" name="isp_id" class="form-control">
                             {% for isp in isp_entries %}
                              <option value="{{ isp.isp_id }}">{{ isp.isp_name }}</option>
                              {% else %}
                            <li><em>No entries here so far</em></li>
                            {% endfor %}
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label  for="rate">Service Name</label>
                            <select id="service_id" name="service_id" class="form-control">
                            {% for service in services_entries %}
                              <option value="{{ service.service_id }}">{{ service.service_name }}</option>
                            {% else %}
                            <li><em>No entries here so far</em></li>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                 </div>  <!-- End of row 1-->


                <div class="container-fluid"><!-- Row 4 -->
                <div class="col-lg-6">
                         <div class="form-group">
                          <label for="submit"></label>
                          <button class="btn btn-lg btn-primary" type="submit">Share Your QOS Ratings</button>
                         </div>
                </div>
                </div> {#end of row 4 #}

    </form>

{% endblock %}